.folder {
  margin: 10px 0 0 20px;
  animation-duration: .3s;
  animation-name: slidein;
}

.folder-container {
  display: flex;
  align-items: center;

  .caret-open {
    transform: rotate(90deg);
  }
}

@keyframes slidein {
  from {
    transform: scale(1, .5);
  }

  to {
    transform: scale(1, 1);
  }
}
